<!doctype html>
{% load static %}
<html lang="ja">
    <head>

        <title>small bucket</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type">
        <meta name="Viewport" content="width=device-width, inicial-scall=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_css %}{% endblock %}
        
    </head>

    <body>

        {% include "layout/application.html "%}

        {% block content %}
        {% endblock %}

        {% comment %} <script src="{% static js/smallbucket.js %}"></script> {% endcomment %}

    </body>
</html>